@font-face {
   font-family: 'Koho';
   font-weight: 400;
   src: url('/fonts/KoHo/KoHo-Regular.woff2') format('woff2'),
      url('/fonts/KoHo/KoHo-Regular.woff') format('woff'),
      url('/fonts/KoHo/KoHo-Regular.ttf') format('truetipe');
}

@font-face {
   font-family: 'Koho';
   font-weight: 400;
   font-style: italic;
   src: url('/fonts/KoHo/KoHo-Italic.woff2') format('woff2'),
      url('/fonts/KoHo/KoHo-Italic.woff') format('woff'),
      url('/fonts/KoHo/KoHo-Italic.ttf') format('truetype');
}

@font-face {
   font-family: 'Koho';
   font-weight: 500;
   src: url('/fonts/KoHo/KoHo-Medium.woff2') format('woff2'),
      url('/fonts/KoHo/KoHo-Medium.woff') format('woff'),
      url('/fonts/KoHo/KoHo-Medium.ttf') format('truetype');
}

@font-face {
   font-family: 'Koho';
   font-weight: 600;
   src: url('/fonts/KoHo/KoHo-SemiBold.woff2') format('woff2'),
      url('/fonts/KoHo/KoHo-SemiBold.woff') format('woff'),
      url('/fonts/KoHo/KoHo-SemiBold.ttf') format('truetype');
}

@font-face {
   font-family: 'Koho';
   font-weight: 700;
   src: url('/fonts/KoHo/KoHo-Bold.woff2') format('woff2'),
      url('/fonts/KoHo/KoHo-Bold.woff') format('woff'),
      url('/fonts/KoHo/KoHo-Bold.ttf') format('truetype');
}
