@font-face {
   font-family: 'Oxanium';
   font-weight: 400;
   src: url('/fonts/Oxanium/Oxanium-Regular.woff2') format('woff2'),
      url('/fonts/Oxanium/Oxanium-Regular.woff') format('woff'),
      url('/fonts/Oxanium/Oxanium-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Oxanium';
   font-weight: 600;
   src: url('/fonts/Oxanium/Oxanium-SemiBold.woff2') format('woff2'),
      url('/fonts/Oxanium/Oxanium-SemiBold.woff') format('woff'),
      url('/fonts/Oxanium/Oxanium-SemiBold.ttf') format('truetype');
}

@font-face {
   font-family: 'Oxanium';
   font-weight: 700;
   src: url('/fonts/Oxanium/Oxanium-Bold.woff2') format('woff2'),
      url('/fonts/Oxanium/Oxanium-Bold.woff') format('woff'),
      url('/fonts/Oxanium/Oxanium-Bold.ttf') format('truetype');
}
