/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'hooper/dist/hooper.css';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@import './oxaniumFonts.css';
@import './koHoFonts.css';

.fade {
   transition: all ease-in;
   animation: fade 4s;
}

@keyframes fade {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
